.star-grey { background: url(grey.gif); width: 17px; height: 15px; float: left;}
.star-red  { background: url(red.gif); width: 17px; height: 15px; float: left;}
.star-yellow  { background: url(yellow.gif); width: 17px; height: 15px; float: left;}
