<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><title>Untitled Document</title>

<style type="text/css">
<!--
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.style1 {
	font-size: 14pt;
	font-weight: bold;
}
-->
</style></head>
<body>
<div align="center"><center>
  <table border="0" cellspacing="0" width="577">
      <tbody>
        <tr>
          <td><p align="center">Pursuant to U.S. State &amp; Federal Laws the following is a  statement of your legal rights.</p>
            <p class="style1" align="center">Disclaimer              &amp; Legal Rights</p>
            <p align="center"><strong>No              Warranties</strong></p>
            <p>ALL
WEB SITES, PRODUCTS AND SERVICES ARE PROVIDED, AS IS, WITHOUT WARRANTY
OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE. OUR COMPANY DOES NOT WARRANT, GUARANTEE, OR MAKE ANY
REPRESENTATIONS REGARDING THE USE, OR THE RESULTS OF THE USE, OF THE
WEB SITES, PRODUCTS, SERVICES OR WRITTEN MATERIALS IN THE TERMS OF
CORRECTNESS, ACCURACY, RELIABILITY, CURRENTNESS OR OTHERWISE. THE
ENTIRE RISK AS TO THE RESULTS AND PERFORMANCE OF THE WEB SITES,
PRODUCTS AND SERVICES ARE ASSUMED BY YOU. IF THE WEB SITES, PRODUCTS,
SERVICES&nbsp; OR WRITTEN MATERIALS ARE DEFECTIVE, YOU, AND NOT OUR
COMPANY, ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR
CORRECTION.&nbsp;<br />
                  <br /> THIS IS THE ONLY WARRANT
OF ANY KIND, EITHER EXPRESS OR IMPLIED, THAT IS MADE BY OUR COMPANY. NO
ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY OUR COMPANY SHALL CREATE
A WARRANTY OR IN ANY WAY INCREASE THE SCOPE OF THIS WARRANTY, AND YOU
MAY NOT RELY ON SUCH INFORMATION OR ADVICE TO DO SO.<br />
            </p>
            <p align="center"><strong>Customer              Remedy&nbsp;</strong></p>
            <p>Our
company's entire liability, and the purchaser's exclusive remedy, shall
be a refund of the price paid or replacement of our products, at our
option.&nbsp; We limit replacement to thirty days.&nbsp; All remedies
are limited to the United States.</p>
            <p>Some states do not allow the exclusion or limitation of              liability, so the above limitations may not apply to you.</p>
            <p align="center">&nbsp;<strong>Limitation              &amp; Exclusion Of Liability </strong></p>
These warranties exclude all incidental or consequential damages.&nbsp;
Our company, and its suppliers, will not be liable for any damages
whatsoever, including without limitation, damages for loss of business
profits, business interruption, loss of business information, or other
pecuniary loss.&nbsp; Some states do not allow the exclusion or
limitation of liability, so the above limitations may not apply to you.
<p align="center"><strong>Legal Forum, Choice              Of Laws &amp; Official Language</strong></p>
            <p>This
offering is a contract between you the buyer and our business, the
seller.&nbsp; The seller is located in Los Angeles, California, U.S.A.
and by doing business with us you agree that this offering is made from
Los Angeles, California, U.S.A. and shall be governed by the laws of
the State of California and the U.S.A.. By electing to participate
in this offer, you are entering into a contract.</p>
            <p>&nbsp;This
Agreement shall be governed by and construed in accordance with the
laws of the State of California, without regard to its conflict of
laws rules. Any legal action arising out of this Agreement shall be
litigated and enforced under the laws of the State of California.
In addition, you agree to submit to the jurisdiction of the courts of
the State of California, and that any legal action pursued by you
shall be within the exclusive jurisdiction of the courts of Spokane in
the State of California, USA. </p>
            <p>&nbsp;The terms
constituting this offering are set forth in writing on this Web
site.&nbsp; You hereby agree to submit to the jurisdiction of the State
and Federal Courts located in Los Angeles, California, U.S.A. to
resolve any disputes or litigation hereunder.&nbsp; Whether or not you
choose to print this offering, containing the terms and conditions as
described herein, you agree that this contract constitutes a
writing.&nbsp;</p>
            <p>This agreement is being written in
English, which is to be the official language of the contract&rsquo;s text
and interpretation.&nbsp; If you do not agree with the above terms and
conditions, you have the option to not participate in this offer.</p>
            <p align="center"><strong>&nbsp; Copyrights</strong></p>
            <p>This
Web site and information contains copyrighted material, trademarks, and
other proprietary information.&nbsp; You may not modify, publish,
transmit, participate in the transfer or sale of, create derivative
works of, on in any way exploit, in whole or in part, any Proprietary
or other Material.</p>
            <p align="center"><strong>License</strong></p>
            <p align="left">
All images, text, contents, products and scripts are licensed and never
sold, unless otherwise stated.&nbsp;&nbsp; Reproduction is
prohibited.&nbsp;&nbsp;You may not use, copy, emulate, clone, rent,
lease, sell, modify, decompile, disassemble, otherwise reverse
engineer, or transfer the licensed program or product, or any subset of
the licensed program or product, except as provided for in this
agreement or expressly in writing.&nbsp; Any such unauthorized use
shall result in immediate and automatic termination of this license and
may result in criminal and/or civil prosecution.<br />
                  <br />
              Our company reserves all rights not expressly granted here.<br />
            </p>
            <p align="center">&copy;&nbsp;2008-2009 <strong>The Money Coach</strong></p></td>
        </tr>
      </tbody>
    </table>
  </center>
</div>

</body></html>