<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><title>Untitled Document</title>

<style type="text/css">
<!--
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.style1 {
	font-size: 14pt;
	font-weight: bold;
}
-->
</style></head>
<body>
<div align="center">
  <center>
    <table border="0" cellspacing="0" width="577">
      <tbody>
        <tr>
          <td><p class="style1" align="center">EARNINGS &amp; INCOME DISCLAIMERS&nbsp; </p>
              <p>ANY
EARNINGS OR INCOME STATEMENTS,&nbsp; OR EARNINGS OR INCOME EXAMPLES,
ARE ONLY ESTIMATES OF WHAT WE THINK YOU COULD EARN. THERE IS NO
ASSURANCE YOU'LL DO AS WELL. IF YOU RELY UPON OUR FIGURES, YOU MUST
ACCEPT THE RISK OF NOT DOING AS WELL.&nbsp;</p>
            <p>WHERE
SPECIFIC INCOME FIGURES ARE USED, AND ATTRIBUTED TO AN INDIVIDUAL OR
BUSINESS, THOSE PERSONS OR BUSINESSES HAVE EARNED THAT AMOUNT. THERE IS
NO ASSURANCE YOU'LL DO AS WELL. IF YOU RELY UPON OUR FIGURES; YOU MUST
ACCEPT THE RISK OF NOT DOING AS WELL.&nbsp; </p>
            <p>ANY
AND ALL CLAIMS OR REPRESENTATIONS, AS TO INCOME EARNINGS ON THIS WEB
SITE, ARE NOT TO BE CONSIDERED AS AVERAGE EARNINGS.</p>
            <p>THERE
CAN BE NO ASSURANCE THAT ANY PRIOR SUCCESSES, OR PAST RESULTS, AS TO
INCOME EARNINGS, CAN BE USED AS AN INDICATION OF YOUR FUTURE SUCCESS OR
RESULTS.&nbsp;&nbsp; </p>
            <p>MONETARY AND INCOME RESULTS
ARE BASED ON MANY FACTORS.&nbsp; WE HAVE NO WAY OF KNOWING HOW WELL YOU
WILL DO, AS WE DO NOT KNOW YOU, YOUR BACKGROUND, YOUR WORK ETHIC, OR
YOUR BUSINESS SKILLS OR PRACTICES.&nbsp; THEREFORE WE DO NOT GUARANTEE
OR IMPLY THAT YOU WILL GET RICH, THAT YOU WILL DO AS WELL, OR MAKE ANY
MONEY AT ALL. THERE IS NO ASSURANCE YOU&rsquo;LL DO AS WELL.&nbsp; IF YOU
RELY UPON OUR FIGURES; YOU MUST ACCEPT THE RISK OF NOT DOING AS
WELL.&nbsp; </p>
            <p>INTERNET BUSINESSES AND EARNINGS
DERIVED THEREFROM, HAVE UNKNOWN RISKS INVOLVED, AND ARE NOT SUITABLE
FOR EVERYONE. MAKING DECISIONS BASED ON ANY INFORMATION PRESENTED IN
OUR PRODUCTS, SERVICES, OR WEB SITE, SHOULD BE DONE ONLY WITH THE
KNOWLEDGE THAT YOU COULD EXPERIENCE SIGNIFICANT LOSSES, OR MAKE NO
MONEY AT ALL.&nbsp; </p>
            <p>ALL PRODUCTS AND SERVICES BY
OUR COMPANY ARE FOR EDUCATIONAL AND INFORMATIONAL PURPOSES ONLY.&nbsp;
USE CAUTION AND SEEK THE ADVICE OF QUALIFIED PROFESSIONALS. CHECK WITH
YOUR ACCOUNTANT, LAWYER OR PROFESSIONAL ADVISOR, BEFORE ACTING ON THIS
OR ANY INFORMATION.&nbsp;&nbsp; </p>
            <p>USERS OF OUR
PRODUCTS, SERVICES AND WEB SITE ARE ADVISED TO DO THEIR OWN DUE
DILIGENCE WHEN IT COMES TO MAKING BUSINESS DECISIONS AND ALL
INFORMATION, PRODUCTS, AND SERVICES THAT HAVE BEEN PROVIDED SHOULD BE
INDEPENDENTLY VERIFIED BY YOUR OWN QUALIFIED PROFESSIONALS.&nbsp; OUR
INFORMATION, PRODUCTS, AND SERVICES ON THIS WEB SITE SHOULD BE
CAREFULLY CONSIDERED AND EVALUATED, BEFORE REACHING A BUSINESS
DECISION, ON WHETHER TO RELY ON THEM.&nbsp; </p>
            <p>YOU
AGREE THAT OUR COMPANY IS NOT RESPONSIBLE FOR THE SUCCESS OR FAILURE OF
YOUR BUSINESS DECISIONS RELATING TO ANY INFORMATION PRESENTED BY OUR
COMPANY, OR OUR COMPANY PRODUCTS OR SERVICES. </p>
            <p align="center">&copy;&nbsp;2008-2009 <strong>The Money Coach</strong><strong></strong></p></td>
        </tr>
      </tbody>
    </table>
  </center>
</div>

</body></html>