
			<div id="footer">
			
				<div class="nav">
			
					<? /* <a href="/"><?= APP_TITLE ?></a> | */ ?>
					 <a href="/">Home</a><span class="pipe"> - </span>
					<a href="/health-clubs">Health Clubs</a><span class="pipe"> - </span>
					<a href="/personal-trainers">Personal Trainers</a><span class="pipe"> - </span>
					<a href="/bmi-calculator">BMI Calculator</a><span class="pipe"> - </span>
					<a href="/fitness-widgets">Fitness Widgets</a><span class="pipe"> - </span>					
					<a href="/add-listing">Add Listing</a><span class="pipe"> - </span>
					<a href="/login">Manage Listings</a><span class="pipe"> - </span>
					<? /* <a href="/advertising">Advertising</a><span class="pipe"> - </span>
					<a href="/fitness-resources">Fitness Resources</a><span class="pipe"> - </span> */ ?>
					<a href="/about">About Us</a><span class="pipe"> - </span>
					<a href="/contact">Contact Us</a>
					<br /><br />
				</div>
					
					<div class="copyright">Copyright &copy; <?= date('Y') ?> <?= APP_TITLE ?> - All rights reserved - <a href="/privacy">Privacy Policy</a>  - <a href="/terms">Terms of Service</a> - <a href="/site-map">Sitemap</a>  <?= (CACHE_FULL_PAGES && preg_match(CACHE_THIS_ACTION,$TARGET->action)) ? '' : '- Dynamic' ?></div>
			
				</div>
			</div>

<?php

	 if ( DEBUG ) 
	 {
	 	foreach ( array('_SESSION','_GET','_COOKIE','_POST') as $superglobal )
	 	{
	 		print "<hr /><br />";
	 		print "<b>\$$superglobal</b>";
	 		print_ar(${$superglobal	});
	 	} 
	 } 

?>

		</div>
		
		<? include "template/analytics.htm"; ?>
	
	</body>
</html>